.form{
    width: 100%;
//    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
    &__field{
        width: 60%;
        height: 4rem;
        border: 0;
        background-color: #7c1f1e;
        border-radius: 100px;
        text-align: center;
        text-transform: capitalize;
        color: $color-white;
        font-size: 1.9rem;
        box-shadow: 0 1rem 5rem rgba($color-black, .5);
        transition: 1s ease;
        animation: glow-white 2s ease;
        animation-iteration-count: infinite;
        
        &:focus{
            width: 80%;
            animation-play-state: paused;
            background-color: #8c1f1e;
            box-shadow: 0 1rem 3rem rgba($color-black, .9);
            transform: scale(1.1);
            outline: 0;
        }
        
        &::placeholder{
            text-transform: none;
        }
    }
    
    &__btn{
        position: relative;
        top: 2rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: .1rem solid $color-black;
        font-size: 1.8rem;
        background-image: radial-gradient(circle, rgba($color-white, 1), rgba($color-gray-dark, .2));
        cursor: pointer;
        box-shadow: 0 .5rem .9rem rgba($color-black, 1);
        transform: scale(1.05);
        transition: .1s ease;
        
        &:hover{
            filter: brightness(1.1);
        }
        
        &:active{
            box-shadow: 0 0rem 1.4rem rgba($color-black, 1);
            transform: scale(1.03);
            border: .2rem solid $color-black;
        }
        
        &:focus{
            outline: 0;
        }
    }
}

.normal:before {background-color: #A8A878;}
.fire:before {background-color: #F08030;}
.fighting:before {background-color: #C03028;}
.water:before {background-color: #6890F0;}
.flying:before {background-color: #A890F0;}
.grass:before {background-color: #78C850;}
.poison:before {background-color: #A040A0;}
.electric:before {background-color: #F8D030;}
.ground:before {background-color: #E0C068;}
.psychic:before {background-color: #F85888;}
.rock:before {background-color: #B8A038;}
.ice:before {background-color: #98D8D8;}
.bug:before {background-color: #A8B820;}
.dragon:before {background-color: #7038F8;}
.ghost:before {background-color: #705898;}
.dark:before {background-color: #705848;}
.steel:before {background-color: #B8B8D0;}
.fairy:before { background-color: #EE99AC;}

.ledOff{opacity: .9;}
.ledOn{opacity: 1;}