@mixin center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes glow-white{
    0%{
        border: .2rem solid rgba($color-white, .4);
    }
    
    50%{
        border: .2rem solid rgba($color-white, 1);
    }
    
    100%{
        border: .2rem solid rgba($color-white, .4);
    }
}

@keyframes pkmnIn{
    0%{
        transform: scale(0.1);
    }
    
    100%{
        transform: scale(1);
    }
}

@keyframes pkmnChange{
    0%{
        transform: scale(1);
    }
    
    25%{
        transform: scale(1.2);
    }
    
    50%{
        transform: scale(0);
    }
    
    75%{
        transform: scale(1.2);
    }
    
    100%{
        transform: scale(1);
    }
}